
.white {
    color: white;
}

.big {
    font-size: 26px;
}

.from-input-login-main {
    background-color: rgb(51, 51, 51);
    border-radius: 3px;
    border: solid 1px rgb(133, 133, 133);
    height: 30px;
    padding-left: 4px;
}


